<div class="page-header">
  <h1><%= @title %></h1>
</div>

<form method="get" class="form-inline">
	<div class="form-group" style="margin-right: 20px">
		<label for="date_from">From:</label>
		<input type="text" name="date_from" class="datepicker text-center" value="<%= @date_from.strftime('%d/%m/%Y') rescue '' %>">
	</div>
	<div class="form-group" style="margin-right: 20px">
		<label for="date_to">To:</label>
		<input type="text" name="date_to" class="datepicker text-center" value="<%= @date_to.strftime('%d/%m/%Y') rescue '' %>">
	</div>
	<button type="submit" class="btn btn-default">Generate</button>
</form>

<div class="row">
	<div class="col-sm-12">
		<div id="chart-rating-breakdown" style="margin: 0 auto; margin-top: 40px"></div>
	</div>
</div>

<% content_for :javascript do %>
	<%= javascript_include_tag "/js/highcharts/highcharts" -%>

	<script language="javascript">
	$(function () {
		// Init datepickers
		$('.datepicker').pickadate({ format: 'dd/mm/yyyy' });

		$('#chart-rating-breakdown').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false
			},
			colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', 
   '#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'],
			title: {
				text: '<%= @subtitle %>'
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.y}</b> ({point.percentage:.1f}%)'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.y} calls ({point.percentage:.1f}) %',
						style: {
							color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
						}
					}
				}
			},
			series: [{
				type: 'pie',
				name: 'Calls',
				data: <%=raw @graph.to_json %>
			}]
		});
	});
	</script>
<% end -%>
